DRIVER=~fastapi
HOST=127.0.0.1
PORT=8080
COMMAND_START=["/"]

ONEBOT_ACCESS_TOKEN=

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=kirakira
MYSQL_USER=
MYSQL_PASSWORD=

KIRAKIRA_ADMIN_GROUP_ID=
KIRAKIRA_ENABLE_SCHEDULER=false
KIRAKIRA_ENABLE_COURSE_REMINDER=false
